@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 3, 0, 8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(240, 171, 252, 0.3);
  }
}
